body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #181818;
    color: white;
    line-height: 1.5em;
}

/* Do not apply line height to headers. */
h1,
h2,
h3,
h4 {
    line-height: 1em;
}

/* For navbar */
.page-header {
    padding: 15px;
    padding-top: 20px;
}

.nav-logo {
    width: 100px;
}

.table-of-contents {
    border: 2px solid gray;
    border-radius: 5px;
}

.navbar {
    text-align: right;
}

.mobile-bars {
    display: none;
}

.center {
    text-align: center;
}

/* Ensure that the navbar as a whole stays on screen. */
.page-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.nav-logo {
    float: left;
    margin: auto;
}

.page-header nav {
    float: right;
}

.page-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.page-header li {
    float: left;
    list-style-type: none;
}

.page-header li a {
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    color: inherit;
}

.page-header li a:hover {
    border-radius: 12px;
}

li {
    list-style-type: square;
}

.content a {
    color: #01cb2b;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

.footer a:hover {
    text-decoration: underline;
}

.footer {
    padding: 40px;
    display: flex;
    justify-content: center;
}


/* For service status list */
.services {
    display: flex;
    justify-content: center;
}

.service {
    width: 40%;
    margin: 5px;
}

.publicly-available {
    background-color: rgb(48, 176, 46);
    padding: 10px;
}

.not-started {
    background-color: rgb(184, 17, 17);
    padding: 10px;
}

.private-beta {
    background-color: rgb(24, 120, 190);
    padding: 10px;
}

.in-development {
    background-color: rgb(201, 103, 44);
    padding: 10px;
}

.item {
    width: 20%;
    margin: 20px;
}

.header {
    padding: 30px;
}

.header h1,
.header h2,
.header ul {
    margin-left: 20%;
    margin-right: 20%;
}

.header-logo {
    left: 50%;
    top: 50%;
    text-align: center;
    font-size: 2em;
}

.header-logo img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    width: 40%;
    margin-top: 5%;
}

.coming-soon {
    background-color: #31669e;
    color: white;
    border-radius: 5px;
    padding: 3px;
}

.embed {
    text-align: center;
}

.embed iframe {
    width: 960px;
    height: 540px;
}

.section {
    padding: 30px;
    background-position: center;
    background-repeat: no-repeat;

    margin-left: 20%;
    margin-right: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.section a {
    color: #01cb2b;
}

.faq {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.faq h1,
.faq p,
.faq li,
.faq h2 {
    margin-left: 20%;
    margin-right: 20%;
}

.footer a {
    padding: 5px;
    font-size: 14px;
    color: inherit;
    text-decoration: none;
}

.footer p {
    font-size: 14px;
}

.section table {
    border-collapse: collapse;
    width: 60%;
    font-size: 24px;
    margin-left: 20%;
}

.section td,
th {
    text-align: left;
    padding: 15px;
    border: 3px solid #000;
}

.logo {
    height: 18px;
}

.mobile {
    display: none;
}

.right {
    float: right;
}

.section th {
    background-color: #111;
    font-size: 28px;
}

.section tr {
    background-color: #222;
}

@media only screen and (max-width: 1050px) {
    .embed iframe {
        width: 100%;
        height: 540px;
    }
}

@media only screen and (max-width: 850px) {
    .header {
        background-image: none;
    }

    .header h1,
    .header h3,
    .header ul {
        margin-left: 3%;
        margin-right: 3%;
    }

    .section h1,
    .section p,
    .section li,
    .section h2,
    .section h3,
    .section h4,
    .section h5 {
        margin-left: 3%;
        margin-right: 3%;
    }

    .faq h1,
    .faq p,
    .faq li,
    .faq h2 {
        margin-left: 3%;
        margin-right: 3%;
    }

    .section table {
        width: 100%;
        margin-left: 0;
    }

    .section {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 800px) {
    .footer {
        display: block;
    }

    .footer a {
        text-align: center;
    }

    .item {
        width: auto;
    }

    .header-logo {
        font-size: 1.5em;
    }

    .header-logo img {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .wiilink24-logo {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar a {
        display: none;
    }

    .mobile {
        display: block;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }

    .mobile-bars {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .navbar a {
        float: left;
    }
}