body {
    margin: 0;
    background-color: #256632;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    text-align: center;
    padding: 15px;
}

.yellow {
    background-color: rgb(194, 194, 50);
    padding: 10px;
}

.red {
    background-color: rgb(184, 17, 17);
    padding: 10px;
}

.orange {
    background-color: rgb(185, 106, 15);
    padding: 10px;
}

.red-orange {
    background-color: rgb(235, 73, 52)
}

.center {
    text-align: center;
}

li {
    list-style-type: square;
}

.navbar a {
    color: white;
    padding: 4px 12px;
    text-decoration: none;
    font-size: 24px;
    transition: .3s;
}

.navbar a:hover {
    background-color: #225a2d;
    border-radius: 12px;
}

.content {
    color: white;
}

.content a {
    text-decoration: none;
    color: rgb(185, 185, 185);
}

.content a:hover {
    text-decoration: underline;
}

.footer a:hover {
    text-decoration: underline;
}

.footer {
    background-color: #256632;
    padding: 40px;
    color: white;
    display: flex;
    justify-content: center;
}

.services {
    display: flex;
    justify-content: center;
}

.service {
    width: 40%;
    margin: 5px;
}

.item {
    width: 20%;
    margin: 20px;
}

.header {
    background-color: #123f1b;
    padding: 30px;
    background-image: url("../assets/banner-dark.png");
    background-position: center;
    background-repeat: no-repeat;
}

.embed {
    text-align: center;
}

.embed iframe {
    width: 960px;
    height: 540px;
}

.section {
    padding: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1e5529;
}

.section h1, .section p, .section li, .section h2, .section h3 {
    margin-left: 20%;
    margin-right: 20%;
}

.faq {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1e5529;
}

.faq h1, .faq p, .faq li, .faq h2 {
    margin-left: 30%;
    margin-right: 30%;
}

.header h1, .header ul {
    margin-left: 20%;
    margin-right: 20%;
}

.footer a {
    padding: 5px;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.footer p {
    font-size: 14px;
}

.navbar .icon {
    display: none;
}

.section table {
    border-collapse: collapse;
    width: 60%;
    font-size: 24px;
    margin-left: 20%;
}
  
.section td, th {
    text-align: left;
    padding: 15px;
    border: 3px solid #000;
}

.logo {
    height: 18px;
}

.mobile {
    display: none;
}

::selection {
    background-color: #358f47;
}

.right {
    float: right;
}

.section th {
    background-color: #111;
    font-size: 28px;
}

.section tr:nth-child(odd) {
    background-color: #222;
}
  
.section tr:nth-child(even) {
    background-color: #333;
}

@media only screen and (max-width: 1050px) {
    .embed iframe {
        width: 100%;
        height: 540px;
    }
}

@media only screen and (max-width: 850px) {
    .header {
        background-image: none;
    }

    .header h1, .header ul {
        margin-left: 3%;
        margin-right: 3%;
    }

    .section h1, .section p, .section li, .section h2 {
        margin-left: 3%;
        margin-right: 3%;
    }

    .faq h1, .faq p, .faq li, .faq h2 {
        margin-left: 3%;
        margin-right: 3%;
    }

    .section table {
        width: 100%;
        margin-left: 0;
    }
}

@media only screen and (max-width: 800px) {
    .footer {
        display: block;
    }

    .footer a {
        text-align: center;
    }

    .item {
        width: auto;
    }
}

@media screen and (max-width: 550px) {
    .navbar a:not(:first-child) {
        display: none;
    }

    .mobile {
        display: block;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }

    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .navbar {
        padding: 0;
    }

    .navbar a {
        float: left;
        padding-top: 3px;
        padding-bottom: 3px;
    }
}
