<div class="footer">
    <div class="item">
        <h2><i class="mdi mdi-information"></i> About WiiLink</h2>
        <p>WiiLink is a revival service for the now-defunct Japanese exclusive Wii channels and media channels.
          This service allows you to use <b>Wii Room</b>, <b>Digicam Print Channel</b>, <b>Kirby TV Channel</b> and the <b>Food Channel</b>!</p>
    </div>
    <div class="item">
        <h2><i class="mdi mdi-copyright"></i> 2020-2022 WiiLink Team</h2>
        <p>We are not associated with Nintendo nor its affiliates. We are also not associated with other services for the Wii.</p>
    </div>
    <div class="item">
        <h2><i class="mdi mdi-earth"></i> Social Media</h2>
        <a target="_blank" href="{{ site.github }}" rel="noopener"><i class="mdi mdi-github"></i> GitHub</a>
        <br>
        <a target="_blank" href="{{ site.discord }}" rel="noopener"><i class="mdi mdi-discord"></i> Discord</a>
        <br>
        <a target="_blank" href="{{ site.twitter }}" rel="noopener"><i class="mdi mdi-twitter"></i> Twitter</a>
        <br>
        <a target="_blank" href="{{ site.patreon }}" rel="noopener"><i class="mdi mdi-patreon"></i> Patreon</a>
        <br>
        <a target="_blank" href="{{ site.youtube }}" rel="noopener"><i class="mdi mdi-youtube"></i> YouTube</a>
    </div>
</div>
