<div class="footer">
    <div class="item">
        <h2><i class="mdi mdi-information"></i> About WiiLink</h2>
        <p>WiiLink24 is a revival service for the now-defunct Japanese exclusive Wii channels.
          This service allows you to use <b>Wii no Ma</b> and the <b>Digicam Print Channel</b>. Soon it will have the <b>Demae Channel</b> available!</p>
    </div>
    <div class="item">
        <h2><i class="mdi mdi-copyright"></i> 2020-2021 WiiLink Team</h2>
        <p>We are not associated with Nintendo nor its affiliates. We are also not associated with other services for the Wii.</p>
    </div>
    <div class="item">
        <h2><i class="mdi mdi-earth"></i> Social Media</h2>
        <a target="_blank" href="https://github.com/wiilink24" rel="noopener"><i class="mdi mdi-github"></i> GitHub</a>
        <br>
        <a target="_blank" href="https://discord.gg/n4ta3w6" rel="noopener"><i class="mdi mdi-discord"></i> Discord</a>
        <br>
        <a target="_blank" href="https://twitter.com/wiilink24" rel="noopener"><i class="mdi mdi-twitter"></i> Twitter</a>
        <br>
        <a target="_blank" href="https://www.patreon.com/WiiLink24" rel="noopener"><i class="mdi mdi-patreon"></i> Patreon</a>
        <br>
        <a target="_blank" href="https://www.youtube.com/channel/UC_14J0EMfli2hVoBaQq0d3w" rel="noopener"><i class="mdi mdi-youtube"></i> YouTube</a>
    </div>
</div>
