<div class="footer">
    <div class="item">
        <h2><i class="fa fa-info-circle"></i> About WiiLink24</h2>
        <p>WiiLink24 is a revival service for the now-defunct Japanese exclusive Wii channels. This service will (soon) allow you to use <b>Wii no Ma</b>, <b>Demae Channel</b>, and <b>Digicam Print Channel</b>.</p>
    </div>
    <div class="item">
        <h2><i class="fa fa-copyright"></i> 2020-2021 WiiLink24 Team</h2>
        <p>We are not associated with Nintendo nor its affiliates. We are also not associated with the staff of any other online services for the Wii.</p>
    </div>
    <div class="item">
        <h2><i class="fa fa-globe-americas"></i> Social Media</h2>
        <a target="_blank" href="https://github.com/wiilink24" rel="noopener"><i class="fab fa-github"></i> GitHub</a>
        <br>
        <a target="_blank" href="https://discord.gg/n4ta3w6" rel="noopener"><i class="fab fa-discord"></i> Discord</a>
        <br>
        <a target="_blank" href="https://twitter.com/wiilink24" rel="noopener"><i class="fab fa-twitter"></i> Twitter</a>
        <br>
        <a target="_blank" href="https://www.patreon.com/WiiLink24" rel="noopener"><i class="fab fa-patreon"></i> Patreon</a>
        <br>
        <a target="_blank" href="https://www.youtube.com/channel/UC_14J0EMfli2hVoBaQq0d3w" rel="noopener"><i class="fab fa-youtube"></i> YouTube</a>
    </div>
</div>
