<div class="page-header">  
  <a href="/" class="wiilink24-logo">
    <img src="/assets/header-logo.png" alt="WiiLink24 Logo" class="nav-logo"/>
  </a>
  
  <nav>
    <ul>
      <li>
        <a href="/"><i class="fas fa-home"></i> Home</a>
      </li>
      <li>
        <a href="/news"><i class="fas fa-comment-alt-lines"></i> News</a>
      </li>
      <li>
        <a href="https://wii.guide/wiilink24"><i class="fas fa-book"></i> Guide</a>
      </li>
      <li>
        <a href="/services"><i class="fas fa-cogs"></i> Services</a>
      </li>
      <li>
        <a href="/donators"><i class="fas fa-sparkles"></i> Donators</a>
      </li>
    </ul>
  </nav>
</div>
