<div class="page-header">  
  <a href="/" class="wiilink24-logo">
    <img src="/assets/header-logo.png" alt="WiiLink Logo" class="nav-logo"/>
  </a>
  
  <nav>
    <ul>
      <li>
        <a href="/"><i class="mdi mdi-home"></i> Home</a>
      </li>
      <li>
        <a href="/news"><i class="mdi mdi-newspaper-variant"></i> News</a>
      </li>
      <li>
        <a href="https://wii.guide/wiilink24"><i class="mdi mdi-book-open-variant"></i> Guide</a>
      </li>
      <li>
        <a href="/services"><i class="mdi mdi-cogs"></i> Services</a>
      </li>
      <li>
        <a href="/faq"><i class="mdi mdi-forum"></i> FAQ</a>
      </li>
      <li>
        <a href="/donators"><i class="mdi mdi-account-multiple"></i> Donators</a>
      </li>
    </ul>
  </nav>
</div>
