<div class="navbar" id="navbar">
    <a href="/"><i class="fas fa-home"></i> Home</a>
    <a href="/news"><i class="fas fa-comment-alt-lines"></i> News</a>
    <a href="https://wii.guide/wiilink24"><i class="fas fa-book"></i> Guide</a>
    <a href="/services"><i class="fas fa-cogs"></i> Services</a>
    <a href="/donators"><i class="fas fa-sparkles"></i> Donators</a>
    <a href="javascript:void(0);" class="icon" onclick="mobileNav()"><i class="fa fa-bars"></i></a>
</div>

<script>
    function mobileNav() {
      var x = document.getElementById("navbar");
      if (x.className === "navbar") {
        x.className += " responsive";
      } else {
        x.className = "navbar";
      }
    }
</script>
