#vidGallery {
	margin: 0px;
	padding: 20px 0px 0px;
	clear: both;
	height: auto;
	width: 800px;
}

#vidGallery dl {
	margin: 0px;
	width: 800px;
	clear: both;
	height: 225px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 50px;
	padding-bottom: 0px;
	background-color: #FFFFFF;
}

#vidGallery dt {
	height: 192px;
	width: 800px;
	background-image: url(../images/video/gallery_bg.gif);
	padding-top: 10px;
	padding-left: 10px;
	background-repeat: no-repeat;
}

.vidGallery_td_wht {
	background-color: #FFFFFF;
	text-align: center;
}
.vidGalleryText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #999999;
	text-decoration: none;
}
a.vidGalleryLinks:link,a.vidGalleryLinks:active,a.vidGalleryLinks:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #999999;
	text-decoration: none;
}
a.vidGalleryLinks:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #34beed;
	text-decoration: underline;
}

/*
#vidGallery p,span,a:link,a:active,a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 12px;
	color: #8C8C8C;
	padding: 2px;
	text-align: left;
	
}

#vidGallery a:hover {
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 12px;
	color: #34BEED;
	padding: 2px;
	text-align: left;
	text-decoration: underline;

}

*/
