#expFeat {
	height: 262px;
	width: 467px;
	margin-bottom: 30px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

#wiichannelFeat {
	float: left;
	height: 150px;
	width: 214px;
	margin-bottom: 30px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

#wiisoftwareFeat {
	float: right;
	height: 150px;
	width: 214px;
	margin-bottom: 30px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

#morewiiFeat {
	height: 79px;
	width: 467px;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
#index_exp_thumbs {
	float: right;
}
#vidsGalleryLink {
	margin-left: 45px;
}
.feat_commercials_table_BG {
	background-image: url(../images/index/feat_wii_commercials.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}



/* Start Sub promotions and Recent news items */

#banner_dev {
	background-image: url(../images/index/subfeatures/banner_dev2.gif);
	background-repeat: no-repeat;
	float: left;
	height: 90px;
	width: 560px;
	margin-top: 28px;
	margin-bottom: 12px;
	cursor: pointer;
}
a.recent_news {
color: #8C8C8C;
display: block;
	float: left;
	height: auto;
	width: 560px;
}
a.recent_news:hover {
	color: #00c1ed;
	text-decoration: none;
}

.news {
	float: left;
	height: auto;
	width: 560px;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.date {
	float: left;
	height: 14px;
	width: 100px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #00c1ed;
	text-decoration: none;
	background-image: url(../images/index/subfeatures/recent_bullet.gif);
	background-repeat: no-repeat;
	background-position: left 2px;
	text-align: left;
	line-height: 14px;
}
.recent_headline {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	float: left;
	width: 460px;
	height: 14px;
	line-height: 14px;
	text-align: left;
	margin-bottom: 4px;
	padding-top: -3px;
}
.recent_tease {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 12px;
	text-decoration: none;
	text-align: left;
	clear: both;
	float: left;
	padding-left: 100px;
	height: auto;
	width: 460px;
}
.date_pad {
	padding-left: 23px;
}
.banner_3promos {
	width: 560px;
	height: 80px;
	margin-top: 28px;
}
.banner_3promos div{
	float: left;
	height: 80px;
	width: 159px;
	margin-left: 20px;
	background: no-repeat;
}
.banner_3promos img{
	height: 80px;
	width: 159px;
	border:0px;
}