/* Mario Kart Wii Tournament Page */

#mktournament h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size: 25px;
	color: #00a1e4;
}
#mktournament h2 {
	padding-left:10px;
	font-size:18px;
	color: #00a1e5;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
}
td.bluetable_top {
	width:450px;
	height:6px;
	background-image:url(tourn_bluetop.jpg);
}
td.bluetable_btm {
	width:450px;
	height:6px;
	background-image:url(tourn_bluebtm.jpg);
}
p.mktourn_para {
	color:#54656b;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-left:10px;
	padding-right:10px;
	width:260px;
}
td.bluerightborder {
	border-right: 3px solid #00a1e5;
	width:228px;
}
td.blueleftborder {
	border-left: 3px solid #00a1e5;
}
td.screen {
	width:238px;
	text-align:center;
}
.introp {
	width:625px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#768489;
	margin-left:auto;
	margin-right: auto;
}
.tournament_end {
	color:#54656b;
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	padding-left:10px;
	font-family: Arial, Helvetica, sans-serif;
}
#mktournament table#race {
	margin:0 0 0 44px;
}
#mktournament table, #mktournament tbody, #mktournament tr, #mktournament th, #mktournament td {
	vertical-align: top;
}
.pastlinks {
	style="color:#00a1e5;
	padding-bottom:5px;
}
