<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8' />
  <title>{{ page.title }} &mdash; WiiLink24</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/vendor/font-awesome/css/all.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="assets/icon.png">
  <meta name="description" content="WiiLink24 is an all new revival service for the Wii. It brings back some of the most highly reqeuested channels back online &mdash; channels released only in Japan!">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
</head>
<body>
  {% include header.html %}
  <div class="content">
    {{ content }}
  </div>
    
  {% include footer.html %}
</body>
</html>
